* {
    box-sizing: border-box;
}

.target {
    padding-left: 10px;
}
.border {
    width: 300px;
    border: 2px solid aqua;
    border-radius: 10px;

}

.delete {
    padding: 5px 10px;
    font-weight: bold;
    background-color: rgb(50, 50, 126);
    color:rgb(85, 176, 221);
    border-radius: 5px;
    margin-left: 150px;
    margin-bottom: 10px;

}

.modal {
   background-color: bisque;
   width: 600px;
   margin: 0 auto;
   position: fixed;
   z-index: 5;
   top: 0;

}

.snap {
    padding: 8px 12px;
    margin: 5px;
    font-weight: bold;

}

